{% extends 'base.html.twig' %}
{% block title 'Accueil' %}

{% block stylesheets %}
    <link href="{{ asset('/ressources/css/accueil.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="text-center accueil-message">
        <h1 class="accueil-title mt-4">Aide à la recherche de stage</h1>

        <h3 class="accueil-sub-title">Rechercher les stages réalisés par les étudiants Polytech des années précédentes</h3>
    </div>

    <div class="ml-4 mt-4 mr-4 presentation">
        <h4 class="presentation-title">
            Ce site vous permet de :
        </h4>

        <div class="presentation-box row">
            <div class="box" data-toggle="tooltip" data-placement="top" title="Pays, ville, thème du stage, poste, ...">Rechercher un stage via des données géographiques et mots-clef</div>
            <div class="box" data-toggle="tooltip" data-placement="top" title="Tuteur enseignant, contenu du stage,  type de travail réalisé">Obtenir des informations détaillées sur un stage</div>
            <div class="box" data-toggle="tooltip" data-placement="top" title="Pour réaliser un stage similaire cette année">Voir si des stages sont encore proposés par l'entreprise</div>
        </div>

        <p class="mt-4">Vous pourrez par la suite contacter directement l'entreprise pour voir si elle propose
            encore un stage similaire cette année. Dans le cas où les informations de contact ne sont pas divulguées,
            vous devrez les demander à votre responsable de département.</p>
    </div>
{% endblock %}