{% extends 'base.html.twig' %}
{% block title 'Accueil' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Rechercher parmis les stages Polytech effectués</h1>
        <p>Ce site a pour objectif de permettre aux étudiants Polytech de pouvoir voir les stages qui ont été effectués les années précédentes dans leurs filières et année.</p>
        <p>La recherche peut se faire à l'aide de données géographiques (ville, pays...), du nom d'entreprise, de mots-clés...</p>
        <p>Vous pourrez obtenir toutes les informations sur le stage comme son sujet, sa localisation, sa durée, ses thèmes...</p>
        <p>Vous pourrez par la suite contacter directement l'entreprise pour voir si elle propose encore un stage similaire cette année. Dans le cas où les informations de contact ne sont pas divulguées, vous devrez les demander à votre responsable de filière.</p>
    </div>
{% endblock %}