.search-container
{
    margin-right: 0 !important;
}


.filter-container
{
    border-bottom: solid 1px gray;
}

.form-input-container
{
    margin-left: 25px;
}

.form-input-container > form > .row > *
{
    margin-right: 10px;
}

.checkboxes
{
    margin-top: 40px;
}

.checkboxes > *
{
    margin-left: 15px;
}

.map
{
    border: solid 1px gray;
    background-image: url(../images/mapsExample.png);
    background-size: cover;

    height: 800px;
}

.result-container
{
    height: 800px;
    overflow: auto;
}

.card-text
{
    font-size: 15px;
}

.icones > .col
{
    text-align: center;
}

.no-result
{
    margin: auto;
}

.no-found-image
{
    background-image: url(../images/no-result-found-image.png);
    background-size: cover;
    height: 400px;
}

.card-link{
    text-decoration: none;
    color: black;
}

.card-link:hover{
    color:dodgerblue;
}

.intitule{
    color: limegreen;
}
