html, body
{
    height: 100%;
}

.btn{
    font-size: 20px;
}

.search-container
{
    margin-right: 0 !important;
    height: calc(100% - 97px);
}

.result-search-and-filter
{
    height: calc(100% - 59px);
    overflow: auto;
}

.filter-container
{
    border-bottom: solid 1px gray;
}

.form_search_advice
{
    font-size: 18px;
    color: #6f6f6f;
    border-bottom: solid 1px #6f6f6f;
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.form-input-container
{
    margin-left: 25px;
}

.form-input-container > form > .row > *
{
    margin-right: 10px;
}

.checkboxes
{
    margin-top: 40px;
}

.checkboxes > *
{
    margin-left: 15px;
}

.map
{
    border: solid 1px gray;
    /*background-image: url(../images/mapsExample.png);*/
    /*background-size: cover;*/
    height: 100%;

}

.result-container
{
    height: 100%;
    overflow: auto;
}

.card
{
    width: -webkit-fill-available;
}
.card-text
{
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}

.icones > .col
{
    text-align: center;
}


.no-result
{
    margin: auto;
}

.no-found-image
{
    background-image: url(../images/no-result-found-image.png);
    background-size: cover;
    height: 400px;
}

.card-link{
    text-decoration: none;
    color: black;
}

.card-link:hover{
    color:dodgerblue;
}

.intitule{
    color: limegreen;
}

.ou{
    margin-top: 30px;
}

/*.select2{*/
/*    min-width: 200px !important;*/
/*}*/

.select2_form_item
{
    width: 200px;
}

.select2-selection
{
    border: solid 1px #ced4da !important;
}

.single
