.filter-container
{
    border-bottom: solid 1px gray;
}

.form-input-container
{
    margin-left: 25px;
}

.form-input-container > form > .row > *
{
    margin-right: 10px;
}

.checkboxes
{
    margin-top: 40px;
}

.checkboxes > *
{
    margin-left: 15px;
}

.map
{
    border: solid 1px gray;
}

.card-text
{
    font-size: 8px;
}