{% extends 'base.html.twig' %}
{% block title 'Rechercher Stage' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Rechercher parmis les stages Polytech effectués</h1>
    </div>
{% endblock %}